<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.application">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="WIDGETS_EXPERT"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <service
            android:name=".MyService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="WIDGETS_EXPERT"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>

